# Xcode
.DS_Store
build/
DerivedData/
*.xcworkspace
*.xcuserstate
*.xcuserdatad

# Swift Package Manager
.build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**

# Misc
.env
